Repository benjaaa1/otus-vaults: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:sol, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "packages/hardhat/contracts/**/*.sol": [
    "yarn prettier:sol"
  ],
  "packages/react-app/**/*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "packages/react-app/**/*.{html,css,less,ejs}": [
    "prettier --write",
    "git add"
  ]
}

wip - updating create test
  packages/hardhat/test/integration-tests/create/CreateVault.ts
  packages/hardhat/test/integration-tests/strategies/ApeBullStrategy.md
  packages/hardhat/test/integration-tests/strategies/ShortPutStrategyStaticHedge.md
  packages/hardhat/test/integration-tests/utils/constants.ts
  packages/hardhat/test/integration-tests/utils/init.ts
  packages/react-app/components/Products/Product/Withdrawal.tsx
Due: prettier --write, eslint --fix

clean deploy fiels and update tests
  packages/hardhat/constants/synthetix/markets.json
  packages/hardhat/contracts/OtusController.sol
  packages/hardhat/contracts/vault/BaseVault.sol
  packages/hardhat/contracts/vaultDOV/OtusVault.sol
  packages/hardhat/deploy_l2/01_deploy_safe_math.js
  packages/hardhat/deploy_l2/02_deploy_safe_decimal_math.js
  packages/hardhat/deploy_l2/03_deploy_signed_safe_decimal_math.js
  packages/hardhat/deploy_l2/04_deploy_signed_safe_math.js
  packages/hardhat/deploy_l2/05_deploy_vault.js
  packages/hardhat/deploy_l2/06_deploy_vault_life_cycle.js
  packages/hardhat/deploy_l2/07_deploy_otus_controller.js
  packages/hardhat/deploy_l2/08_deploy_base_otus_vault.js
  packages/hardhat/deploy_l2/09_deploy_vault_adapter_strategy.js
  packages/hardhat/deploy_l2/10_deploy_otus_clone_factory.js
  packages/hardhat/deploy_l2/11_deploy_vault_lyra_base.js
  packages/hardhat/deploy_local/01_deploy_safe_math.js
  packages/hardhat/deploy_local/02_deploy_safe_decimal_math.js
  packages/hardhat/deploy_local/03_deploy_signed_safe_decimal_math.js
  packages/hardhat/deploy_local/04_deploy_signed_safe_math.js
  packages/hardhat/deploy_local/05_deploy_vault.js
  packages/hardhat/deploy_local/06_deploy_vault_life_cycle.js
  packages/hardhat/deploy_local/07_deploy_keeper.js
  packages/hardhat/deploy_local/08_deploy_mock_futures_markets_manager.js
  packages/hardhat/deploy_local/09_deploy_mock_futures_market.js
  packages/hardhat/deploy_local/10_deploy_otus_controller.js
  packages/hardhat/deploy_local/11_deploy_base_otus_vault.js
  packages/hardhat/deploy_local/12_deploy_vault_adapter_strategy.js
  packages/hardhat/deploy_local/13_deploy_otus_clone_factory.js
  packages/hardhat/deploy_local/14_deploy_vault_lyra_base.js
  packages/hardhat/test/integration-tests/create/CreateVault.ts
  packages/hardhat/test/integration-tests/create/UserTransactions.ts
  packages/hardhat/test/integration-tests/strategies/ShortCallStrategy.md
  packages/hardhat/test/integration-tests/utils/init.ts
Due: yarn prettier:sol

add tests for short call and short put
  packages/hardhat/contracts/vault/BaseVault.sol
  packages/hardhat/contracts/vaultAdapters/LyraAdapter.sol
  packages/hardhat/contracts/vaultDOV/OtusVault.sol
  packages/hardhat/contracts/vaultDOV/strategy/Strategy.sol
  packages/hardhat/contracts/vaultDOV/strategy/StrategyBase.sol
  packages/hardhat/test/integration-tests/create/UserTransactions.ts
  packages/hardhat/test/integration-tests/strategies/ShortCallStrategy.md
  packages/hardhat/test/integration-tests/strategies/ShortCallStrategy.ts
  packages/hardhat/test/integration-tests/strategies/ShortPutStrategy.ts
  packages/hardhat/test/integration-tests/utils/init.ts
  packages/react-app/components/VaultManager/VaultManagement/Trade/PNLChart.tsx
  packages/react-app/pages/_app.tsx
  packages/react-app/tailwind.config.js
Due: yarn prettier:sol, prettier --write, eslint --fix

update discord url
  packages/react-app/components/UI/Navbar/footer.tsx
Due: prettier --write, eslint --fix

updating tests and contracts to handle hedging
  packages/hardhat/contracts/interfaces/IStrategy.sol
  packages/hardhat/contracts/vault/BaseVault.sol
  packages/hardhat/contracts/vaultAdapters/LyraAdapter.sol
  packages/hardhat/contracts/vaultDOV/OtusVault.sol
  packages/hardhat/contracts/vaultDOV/strategy/Strategy.sol
  packages/hardhat/contracts/vaultDOV/strategy/StrategyBase.sol
  packages/hardhat/test/integration-tests/create/UserTransactions.ts
  packages/hardhat/test/integration-tests/strategies/ShortCallStrategyUserHedge.ts
  packages/hardhat/test/integration-tests/utils/init.ts
Due: yarn prettier:sol

add state type
  packages/react-app/hooks/VaultManager.ts
Due: prettier --write, eslint --fix

updated tests and strategy contract to manage transfer asset
  packages/hardhat/contracts/vaultDOV/strategy/Strategy.sol
  packages/hardhat/test/integration-tests/create/CreateVault.md
  packages/hardhat/test/integration-tests/create/UserTransactions.md
  packages/hardhat/test/integration-tests/strategies/ShortCallStrategy.md
  packages/hardhat/test/integration-tests/strategies/ShortCallStrategyUserHedge.ts
  packages/hardhat/test/integration-tests/strategies/ShortPutStrategy.md
Due: yarn prettier:sol

allow trade in 2nd round
  packages/hardhat/contracts/vaultAdapters/LyraBase.sol
  packages/hardhat/contracts/vaultDOV/OtusVault.sol
  packages/hardhat/contracts/vaultDOV/strategy/Strategy.sol
  packages/hardhat/contracts/vaultDOV/strategy/StrategyBase.sol
  packages/hardhat/scripts/create.ts
  packages/hardhat/test/integration-tests/strategies/ShortCallStrategyUserHedge.ts
Due: yarn prettier:sol

added new tests + ui added selectable markets
  packages/hardhat/constants/synthetix/futuresmarkets.json
  packages/hardhat/contracts/OtusCloneFactory.sol
  packages/hardhat/contracts/OtusController.sol
  packages/hardhat/contracts/interfaces/IOtusCloneFactory.sol
  packages/hardhat/contracts/interfaces/IOtusController.sol
  packages/hardhat/contracts/interfaces/IOtusVault.sol
  packages/hardhat/contracts/interfaces/IStrategy.sol
  packages/hardhat/contracts/vault/BaseVault.sol
  packages/hardhat/contracts/vaultAdapters/LyraAdapter.sol
  packages/hardhat/contracts/vaultAdapters/LyraBase.sol
  packages/hardhat/contracts/vaultDOV/strategy/Strategy.sol
  packages/hardhat/contracts/vaultDOV/strategy/StrategyBase.sol
  packages/hardhat/deploy_l2/07_deploy_base_otus_vault.js
  packages/hardhat/deploy_l2/07_deploy_otus_controller.js
  packages/hardhat/deploy_l2/08_deploy_vault_lyra_base.js
  packages/hardhat/deploy_l2/09_deploy_otus_controller.js
  packages/hardhat/deploy_l2/11_deploy_vault_adapter_strategy.js
  packages/hardhat/deploy_local/10_deploy_otus_controller.js
  packages/hardhat/deploy_local/10_deploy_vault_lyra_base.js
  packages/hardhat/deploy_local/12_deploy_otus_controller.js
  packages/hardhat/deploy_local/13_deploy_vault_adapter_strategy.js
  packages/hardhat/deploy_local/14_deploy_otus_clone_factory.js
  packages/hardhat/scripts/create.ts
  packages/hardhat/scripts/registry.js
  packages/hardhat/test/integration-tests/create/CreateVault.ts
  packages/hardhat/test/integration-tests/create/UserTransactions.ts
  packages/hardhat/test/integration-tests/strategies/ShortCallStrategy.ts
  packages/hardhat/test/integration-tests/strategies/ShortCallStrategyDynamicHedge.ts
  packages/hardhat/test/integration-tests/strategies/ShortPutStrategy.ts
  packages/hardhat/test/integration-tests/strategies/ShortPutStrategyNoHedge.md
  packages/hardhat/test/integration-tests/strategies/ShortPutStrategyOld.md
  packages/hardhat/test/integration-tests/strategies/ShortPutStrategyStaticHedge.md
  packages/react-app/components/VaultManager/Create/CreateForm/StrategyForm.tsx
  packages/react-app/components/VaultManager/Create/index.tsx
  packages/react-app/constants/markets.ts
  packages/react-app/contracts/hardhat_contracts.json
Due: yarn prettier:sol, prettier --write, eslint --fix

add filter ui
  packages/react-app/components/Products/Vaults/Filters/market.tsx
  packages/react-app/components/Products/Vaults/Filters/network.tsx
  packages/react-app/components/Products/Vaults/Filters/optionType.tsx
  packages/react-app/constants/filter.ts
  packages/react-app/pages/vaults.tsx
Due: prettier --write, eslint --fix

fix null hedge type value
  packages/react-app/components/Products/Product/StrategyModalInfo/HedgeStrategyInfo.tsx
  packages/react-app/components/Products/Product/index.tsx
Due: prettier --write, eslint --fix

undefined strategy fix'
  packages/react-app/components/Products/Product/StrategyModalInfo/HedgeStrategyInfo.tsx
Due: prettier --write, eslint --fix

is public switch not updating ui
  packages/react-app/components/Products/Product/index.tsx
  packages/react-app/components/UI/Components/Switch.tsx
Due: prettier --write, eslint --fix

temp fix on types for filters
  packages/react-app/components/Products/Product/Deposit.tsx
  packages/react-app/components/Products/Vaults/Filters/market.tsx
  packages/react-app/components/Products/Vaults/Filters/network.tsx
  packages/react-app/components/Products/Vaults/Filters/optionType.tsx
  packages/react-app/components/UI/Layout/index.tsx
  packages/react-app/components/VaultManager/Create/index.tsx
  packages/react-app/constants/currency.ts
  packages/react-app/constants/filter.ts
  packages/react-app/constants/markets.ts
  packages/react-app/constants/networks.ts
Due: prettier --write, eslint --fix

update local chain id
  packages/react-app/components/Products/Product/Deposit.tsx
  packages/react-app/components/UI/Layout/index.tsx
  packages/react-app/constants/currency.ts
  packages/react-app/constants/filter.ts
  packages/react-app/constants/markets.ts
  packages/react-app/constants/networks.ts
Due: prettier --write, eslint --fix

fixing mobile views on public facing ui
  packages/react-app/components/Products/Product/index.tsx
  packages/react-app/components/UI/Components/Button/index.tsx
  packages/react-app/components/UI/Layout/index.tsx
  packages/react-app/components/UI/Navbar/footer.tsx
  packages/react-app/components/UI/Navbar/index.tsx
  packages/react-app/components/UI/NetworkSwitch/index.tsx
  packages/react-app/pages/index.tsx
  packages/react-app/pages/vaults.tsx
Due: prettier --write, eslint --fix

fixing mobile
  packages/hardhat/scripts/create.ts
  packages/react-app/components/Portfolio/Stats.tsx
  packages/react-app/components/Portfolio/Transactions.tsx
  packages/react-app/components/Products/Product/TradeTransactions.tsx
  packages/react-app/components/UI/Components/Table/Cell.tsx
  packages/react-app/components/UI/Components/Table/HeaderCell.tsx
  packages/react-app/components/UI/Layout/index.tsx
  packages/react-app/components/VaultManager/MyVaultsTable.tsx
  packages/react-app/components/VaultManager/VaultManagement/Current/index.tsx
  packages/react-app/components/VaultManager/VaultManagement/Trade/SelectOptionType.tsx
  packages/react-app/components/VaultManager/VaultManagement/Trade/SelectStrikes.tsx
  packages/react-app/components/VaultManager/VaultManagement/Trade/TradeExecute.tsx
  packages/react-app/components/VaultManager/VaultManagement/Trade/index.tsx
  packages/react-app/components/VaultManager/VaultManagement/UI/ManagerTabs.tsx
  packages/react-app/components/VaultManager/VaultManagement/index.tsx
  packages/react-app/queries/myVaults/useMyVaults.ts
  packages/react-app/queries/utils.ts
  packages/subgraph/subgraph-local.md
Due: prettier --write, eslint --fix

update table mobile
  packages/react-app/components/UI/Components/Table/Cell.tsx
  packages/react-app/components/UI/Components/Table/HeaderCell.tsx
Due: prettier --write, eslint --fix

mobile fixes
  packages/react-app/components/UI/Layout/index.tsx
  packages/react-app/components/VaultManager/VaultManagement/Current/CloseExecute.tsx
  packages/react-app/components/VaultManager/VaultManagement/Current/index.tsx
  packages/react-app/components/VaultManager/VaultManagement/Trade/PNLChart.tsx
  packages/react-app/components/VaultManager/VaultManagement/Trade/SelectExpiry.tsx
  packages/react-app/components/VaultManager/VaultManagement/Trade/SelectMarket.tsx
  packages/react-app/components/VaultManager/VaultManagement/Trade/SelectOptionType.tsx
  packages/react-app/components/VaultManager/VaultManagement/Trade/index.tsx
  packages/react-app/components/VaultManager/VaultManagement/index.tsx
  packages/react-app/queries/myVaults/useMyVaults.ts
Due: prettier --write, eslint --fix

update discord
  packages/react-app/components/UI/Navbar/footer.tsx
Due: prettier --write, eslint --fix

add debounce
  README.md
  packages/react-app/components/VaultManager/VaultManagement/Trade/PNLChart.tsx
  packages/react-app/components/VaultManager/VaultManagement/Trade/TradeExecute.tsx
  packages/react-app/package.json
  yarn.lock
Due: prettier --write, eslint --fix

wip
  README.md
  packages/hardhat/test/integration-tests/create/CreateVault.md
  packages/hardhat/test/integration-tests/create/UserTransactions.md
  packages/hardhat/test/integration-tests/strategies/ShortCallStrategyDynamicHedge.md
  packages/hardhat/test/integration-tests/strategies/ShortCallStrategyUserHedge.md
  packages/hardhat/test/integration-tests/strategies/ShortPutStrategy.md
  packages/hardhat/test/integration-tests/strategies/ShortPutStrategyOld.md
  packages/react-app/components/Products/Product/index.tsx
  packages/react-app/components/UI/Components/Spinner.tsx
  packages/react-app/components/UI/Components/Table/Cell.tsx
  packages/react-app/components/UI/Layout/index.tsx
  packages/react-app/components/VaultManager/VaultManagement/Builder/SelectDirectionType.tsx
  packages/react-app/components/VaultManager/VaultManagement/Builder/SelectExpiration.tsx
  packages/react-app/components/VaultManager/VaultManagement/Builder/SelectMarket.tsx
  packages/react-app/components/VaultManager/VaultManagement/Builder/Strategy/index.tsx
  packages/react-app/components/VaultManager/VaultManagement/Builder/index.tsx
  packages/react-app/components/VaultManager/VaultManagement/Current/index.tsx
  packages/react-app/components/VaultManager/VaultManagement/Trade/index.tsx
  packages/react-app/components/VaultManager/VaultManagement/UI/ManagerTabs.tsx
  packages/react-app/components/VaultManager/VaultManagement/index.tsx
  packages/react-app/constants/tabs.ts
  packages/react-app/contracts/hardhat_contracts.json
  packages/react-app/hooks/ProfitLossChart.ts
  packages/react-app/pages/index.tsx
  packages/react-app/pages/vaults.tsx
  packages/react-app/queries/myVaults/useMyVaults.ts
  packages/react-app/utils/builder/types.ts
Due: prettier --write, eslint --fix

display market tags
  packages/react-app/components/Products/Vaults/Vault.tsx
Due: prettier --write, eslint --fix

display icon in cell
  packages/react-app/components/UI/Components/Table/Cell.tsx
  packages/react-app/components/VaultManager/VaultManagement/Current/index.tsx
Due: prettier --write, eslint --fix

display icon in cell
  packages/react-app/components/UI/Components/Table/Cell.tsx
  packages/react-app/hooks/TransactionNotifier.tsx
  packages/react-app/pages/api/twitter/[handle].ts
Due: prettier --write, eslint --fix

display icon in cell
  packages/react-app/pages/vault-manager/[vault].tsx
Due: prettier --write, eslint --fix

fix location
  packages/react-app/queries/utils.ts
Due: prettier --write, eslint --fix

fix location
  packages/react-app/utils/types/manager.ts
Due: prettier --write, eslint --fix

add type
  packages/react-app/utils/types/portofolio.ts
Due: prettier --write, eslint --fix

remove getpropsserver
  packages/react-app/components/Products/Product/index.tsx
  packages/react-app/components/VaultManager/VaultManagement/index.tsx
  packages/react-app/hooks/Contracts.ts
  packages/react-app/hooks/ProfitLossChart.ts
  packages/react-app/hooks/Web3Client.ts
  packages/react-app/pages/api/manager/[manager].ts
  packages/react-app/pages/api/twitter/[handle].ts
  packages/react-app/pages/manager/[address].tsx
  packages/react-app/pages/vault-manager/[vault].tsx
  packages/react-app/queries/manager/useManagers.ts
  packages/react-app/queries/myVaults/useMyVaults.ts
  packages/react-app/utils/types/manager.ts
Due: prettier --write, eslint --fix

remove name
  packages/react-app/pages/manager/[address].tsx
  packages/react-app/queries/manager/useManagers.ts
Due: prettier --write, eslint --fix

link can't have nul child
  packages/react-app/components/Products/Product/index.tsx
  packages/react-app/components/VaultManager/VaultManagement/index.tsx
Due: prettier --write, eslint --fix

wip - product vault
  packages/react-app/components/Products/Product/index.tsx
  packages/react-app/components/Products/Vaults/Vault.tsx
  packages/react-app/components/UI/Components/Icons/BW/BTCBWIcon.tsx
  packages/react-app/components/UI/Components/Icons/BW/ETHBWIcon.tsx
  packages/react-app/components/UI/Components/Tag/index.tsx
  packages/react-app/components/VaultManager/VaultManagement/index.tsx
  packages/react-app/constants/currency.ts
  packages/react-app/contracts/hardhat_contracts.json
  packages/react-app/pages/_app.tsx
  packages/react-app/pages/api/twitterMulti/[handles].ts
  packages/react-app/pages/api/utils/twitter.ts
  packages/react-app/pages/manager/[address].tsx
  packages/react-app/pages/vault-manager/[vault].tsx
  packages/react-app/pages/vaults.tsx
  packages/react-app/queries/lyra/useLyra.ts
  packages/react-app/queries/manager/useManagers.ts
  packages/react-app/queries/manager/useTwitter.ts
  packages/react-app/queries/myVaults/useMyVaults.ts
  packages/react-app/queries/vaults/useVaultProducts.ts
Due: prettier --write, eslint --fix

center current trades
  packages/react-app/components/Products/Product/TradeTransactions.tsx
  packages/react-app/components/Products/Product/index.tsx
  packages/react-app/contracts/hardhat_contracts.json
Due: prettier --write, eslint --fix

update strategy internal variables
  .prettierrc
  .solhint.json
  packages/hardhat/contracts/interfaces/IStrategy.sol
  packages/hardhat/contracts/vaultAdapters/LyraAdapter.sol
  packages/hardhat/contracts/vaultDOV/OtusVault.sol
  packages/hardhat/contracts/vaultDOV/strategy/Strategy.sol
  packages/hardhat/contracts/vaultDOV/strategy/StrategyBase.sol
  packages/hardhat/test/integration-tests/strategies/ShortCallStrategy.ts
  packages/react-app/components/Manager/Deposits.tsx
  packages/react-app/components/Manager/Vaults.tsx
  packages/react-app/components/Products/Product/TradeTransactions.tsx
  packages/react-app/contracts/hardhat_contracts.json
  packages/react-app/pages/manager/[address].tsx
  packages/react-app/queries/manager/useManagers.ts
  packages/react-app/queries/manager/useTwitter.ts
  packages/react-app/queries/myVaults/useMyVaults.ts
  packages/react-app/queries/portfolio/useUserPortfolio.ts
  packages/react-app/queries/utils.ts
  packages/subgraph/src/mappings/otusVault.ts
  packages/subgraph/src/schema.graphql
Due: yarn prettier:sol, prettier --write, eslint --fix

adding avatars for depositors
  packages/hardhat/contracts/OtusController.sol
  packages/hardhat/contracts/interfaces/IStrategy.sol
  packages/hardhat/contracts/vaultDOV/OtusVault.sol
  packages/hardhat/contracts/vaultDOV/strategy/Strategy.sol
  packages/hardhat/scripts/create.ts
  packages/react-app/components/Products/Product/index.tsx
  packages/react-app/components/Products/Vaults/Vault.tsx
  packages/react-app/components/UI/FooterNav/index.tsx
  packages/react-app/components/UI/Navbar/index.tsx
  packages/react-app/components/UI/Web3/Web3Network.tsx
  packages/react-app/components/UI/Web3/index.tsx
  packages/react-app/contracts/hardhat_contracts.json
  packages/react-app/hooks/Web3Client.ts
  packages/react-app/pages/vaults.tsx
  packages/react-app/queries/vaults/useVaultProducts.ts
  packages/react-app/reducers/Web3Provider.ts
  packages/react-app/utils/types/vault.ts
  packages/subgraph/src/mappings/otusController.ts
  packages/subgraph/src/mappings/otusVault.ts
  packages/subgraph/src/schema.graphql
Due: yarn prettier:sol, prettier --write, eslint --fix

wip - add multichain ui components
  packages/react-app/components/UI/Components/Icons/Header/ONE.tsx
  packages/react-app/components/UI/Components/Icons/Header/OP.tsx
  packages/react-app/components/UI/Navbar/index.tsx
  packages/react-app/components/UI/Web3/Web3Address.tsx
  packages/react-app/components/UI/Web3/Web3Button.tsx
  packages/react-app/components/UI/Web3/Web3Network.tsx
  packages/react-app/hooks/Balances.ts
  packages/react-app/hooks/Web3Client.ts
  packages/react-app/pages/vaults.tsx
Due: prettier --write, eslint --fix

add plausible
  packages/react-app/hooks/Web3Client.ts
  packages/react-app/package.json
  packages/react-app/pages/_app.tsx
Due: prettier --write, eslint --fix

return number on sort
  packages/hardhat/contracts/OtusController.sol
  packages/hardhat/contracts/interfaces/ILyraBase.sol
  packages/hardhat/contracts/vaultAdapters/LyraAdapter.sol
  packages/hardhat/contracts/vaultAdapters/LyraBase.sol
  packages/react-app/components/Products/Product/index.tsx
  packages/react-app/pages/vaults.tsx
  yarn.lock
Due: yarn prettier:sol, prettier --write, eslint --fix
