Repository benjaaa1/otus-vaults: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:sol, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "packages/hardhat/contracts/**/*.sol": [
    "yarn prettier:sol"
  ],
  "packages/react-app/**/*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "packages/react-app/**/*.{html,css,less,ejs}": [
    "prettier --write",
    "git add"
  ]
}

test
  .husky/pre-commit
  .lintstagedrc.json
Due: none

test
  .lintstagedrc.json
Due: none

remove unused file
  packages/react-app/queries/vaults/useTransactions.ts
Due: prettier --write, eslint --fix

remove unused file
  packages/react-app/components/Products/Create/index.tsx
Due: prettier --write, eslint --fix

remove unused file
  packages/react-app/components/Products/Vaults/Filters.tsx
Due: prettier --write, eslint --fix

remove unused file
  packages/react-app/components/UI/Components/Box/index.tsx
  packages/react-app/components/UI/Components/Input/index.tsx
  packages/react-app/components/UI/Components/Table/index.tsx
Due: prettier --write, eslint --fix

remove unused file
  packages/react-app/components/VaultManager/VaultManagement/StrategyModals/StrikeStrategyForm.tsx
  packages/react-app/components/VaultManager/VaultManagement/StrategyModals/VaultStrategyForm.tsx
Due: prettier --write, eslint --fix

updating registry files
  package.json
  packages/hardhat/.lyra/local/lyra.json
  packages/hardhat/contracts/OtusController.sol
  packages/hardhat/deploy_l2/07_deploy_keeper.js
  packages/hardhat/deploy_l2/07_deploy_otus_controller.js
  packages/hardhat/deploy_l2/08_deploy_base_otus_vault.js
  packages/hardhat/deploy_l2/09_deploy_vault_adapter_strategy.js
  packages/hardhat/deploy_l2/10_deploy_gwav_oracle.js
  packages/hardhat/deploy_l2/10_deploy_otus_clone_factory.js
  packages/hardhat/deploy_l2/11_deploy_vault_adapter_strategy.js
  packages/hardhat/deploy_l2/11_deploy_vault_lyra_base.js
  packages/hardhat/deploy_local/10_deploy_otus_controller.js
  packages/hardhat/hardhat.config.ts
  packages/hardhat/package.json
  packages/hardhat/scripts/registry.js
  packages/react-app/components/UI/Layout/index.tsx
  packages/react-app/components/VaultManager/Create/index.tsx
  packages/react-app/components/VaultManager/VaultManagement/Current/index.tsx
  packages/react-app/contracts/hardhat_contracts.json
  packages/react-app/queries/myVaults/useMyVaults.ts
  yarn.lock
Due: yarn prettier:sol, prettier --write, eslint --fix

fix for creating vault
  packages/hardhat/config.yaml
  packages/hardhat/deploy_l2/09_deploy_vault_adapter_strategy.js
  packages/hardhat/hardhat.config.ts
  packages/hardhat/package.json
  packages/hardhat/scripts/tenderly.js
  packages/react-app/components/VaultManager/Create/index.tsx
  packages/react-app/constants/currency.ts
  packages/react-app/contracts/hardhat_contracts.json
  packages/react-app/queries/constants.ts
  packages/react-app/queries/utils.ts
  packages/subgraph/package.json
  yarn.lock
Due: prettier --write, eslint --fix

use chainid on lyra
  packages/react-app/components/VaultManager/VaultManagement/Current/CloseExecute.tsx
  packages/react-app/package.json
  packages/react-app/queries/lyra/useLyra.ts
Due: prettier --write, eslint --fix

manager id check was causing nonnull error on graph
  packages/hardhat/scripts/tenderly.js
  packages/react-app/queries/lyra/useLyra.ts
  packages/react-app/queries/myVaults/useMyVaults.ts
  packages/subgraph/src/mappings/strategy.ts
  yarn.lock
Due: prettier --write, eslint --fix

adding withdrawal
  packages/react-app/components/Products/Product/Deposit.tsx
  packages/react-app/components/Products/Product/Withdrawal.tsx
  packages/react-app/components/Products/Product/index.tsx
  packages/react-app/components/VaultManager/VaultManagement/Trade/TradeExecute.tsx
  packages/react-app/constants/currency.ts
  packages/react-app/contracts/external_contracts.js
  packages/react-app/hooks/VaultManager.ts
  packages/react-app/queries/lyra/useLyra.ts
  packages/react-app/queries/utils.ts
  packages/react-app/queries/vaults/useVaultProducts.ts
  packages/subgraph/package.json
Due: prettier --write, eslint --fix

allow for immediate withdrawal
  packages/hardhat/contracts/vault/BaseVault.sol
  packages/react-app/components/Products/Product/Withdrawal.tsx
  packages/react-app/components/UI/Components/Button/index.tsx
Due: yarn prettier:sol, prettier --write, eslint --fix

update hedge strategy on vault management
  packages/hardhat/contracts/OtusCloneFactory.sol
  packages/hardhat/contracts/mocks/MockOptionToken.sol
  packages/hardhat/contracts/vault/BaseVault.sol
  packages/hardhat/contracts/vaultDOV/strategy/StrategyBase.sol
  packages/hardhat/deploy_l2/09_deploy_vault_adapter_strategy.js
  packages/hardhat/deploy_l2/11_deploy_vault_lyra_base.js
  packages/hardhat/deploy_local/12_deploy_vault_adapter_strategy.js
  packages/hardhat/deploy_local/14_deploy_vault_lyra_base.js
  packages/hardhat/scripts/create.ts
  packages/hardhat/scripts/tenderly.js
  packages/react-app/components/Products/Product/Deposit.tsx
  packages/react-app/components/Products/Product/Withdrawal.tsx
  packages/react-app/components/VaultManager/Create/CreateForm/InformationForm.tsx
  packages/react-app/components/VaultManager/Create/CreateForm/StrategyForm.tsx
  packages/react-app/components/VaultManager/Create/index.tsx
  packages/react-app/components/VaultManager/VaultManagement/StrategyModals/HedgeStrategyForm.tsx
  packages/react-app/components/VaultManager/VaultManagement/Trade/TradeExecute.tsx
  packages/react-app/components/VaultManager/VaultManagement/index.tsx
  packages/react-app/contracts/hardhat_contracts.json
  packages/react-app/hooks/Contracts.ts
  packages/react-app/hooks/Positions.ts
  packages/react-app/hooks/TransactionNotifier.tsx
  packages/react-app/hooks/VaultManager.ts
  packages/react-app/hooks/Web3Client.ts
  packages/react-app/queries/lyra/useLyra.ts
  packages/react-app/queries/myVaults/useMyVaults.ts
  packages/react-app/queries/portfolio/useUserPortfolio.ts
  packages/react-app/queries/synth/useLatestRates.ts
  packages/react-app/queries/utils.ts
  packages/react-app/queries/vaults/useVaultProducts.ts
  packages/react-app/reducers/createVaultReducer.js
  packages/react-app/reducers/strategyReducer.js
  packages/react-app/scripts/create_contracts.js
Due: yarn prettier:sol, prettier --write, eslint --fix

add vault strategy modal fields
  packages/react-app/components/VaultManager/Create/CreateForm/StrategyForm.tsx
  packages/react-app/components/VaultManager/Create/index.tsx
  packages/react-app/components/VaultManager/VaultManagement/StrategyModals/StrikeStrategyForm.tsx
  packages/react-app/components/VaultManager/VaultManagement/StrategyModals/VaultStrategyForm.tsx
  packages/react-app/components/VaultManager/VaultManagement/index.tsx
  packages/react-app/hooks/Contracts.ts
  packages/react-app/queries/myVaults/useMyVaults.ts
Due: prettier --write, eslint --fix

adding strikes and update graphql
  packages/react-app/components/VaultManager/VaultManagement/StrategyModals/StrikeStrategyForm.tsx
  packages/react-app/components/VaultManager/VaultManagement/StrategyModals/VaultStrategyForm.tsx
  packages/react-app/components/VaultManager/VaultManagement/index.tsx
  packages/react-app/constants/queryKeys.ts
  packages/react-app/contracts/hardhat_contracts.json
  packages/react-app/queries/myVaults/useMyVaults.ts
  packages/subgraph/subgraph.yaml.goerli
Due: prettier --write, eslint --fix

adding subgraph yaml file
  packages/subgraph/subgraph.yaml.local
Due: none

wip - option type strategy set
  packages/react-app/components/VaultManager/VaultManagement/StrategyModals/StrikeStrategyForm.tsx
  packages/react-app/components/VaultManager/VaultManagement/StrategyModals/VaultStrategyForm.tsx
  packages/react-app/contracts/hardhat_contracts.json
  packages/react-app/queries/myVaults/useMyVaults.ts
  packages/react-app/queries/utils.ts
  packages/services/docker-compose.yml
  packages/subgraph/package.json
  packages/subgraph/src/mappings/strategy.ts
  packages/subgraph/subgraph.yaml.local
  yarn.lock
Due: prettier --write, eslint --fix

wip - adding details on vault listing
  packages/react-app/components/Portfolio/EmptyState.tsx
  packages/react-app/components/Portfolio/index.tsx
  packages/react-app/components/Products/Vaults/Vault.tsx
  packages/react-app/components/VaultManager/VaultManagement/StrategyModals/StrikeStrategyForm.tsx
  packages/react-app/constants/markets.ts
Due: prettier --write, eslint --fix

vault detail page include more strategy details
  packages/react-app/components/Products/Product/StrategyModalInfo/HedgeStrategyInfo.tsx
  packages/react-app/components/Products/Product/StrategyModalInfo/StrikeStrategyInfo.tsx
  packages/react-app/components/Products/Product/StrategyModalInfo/VaultStrategyInfo.tsx
  packages/react-app/components/Products/Product/index.tsx
  packages/react-app/components/UI/Modal/index.tsx
Due: prettier --write, eslint --fix

update strike strategy form
  packages/react-app/components/VaultManager/VaultManagement/StrategyModals/StrikeStrategyForm.tsx
  packages/react-app/queries/myVaults/useMyVaults.ts
Due: prettier --write, eslint --fix

update balance calculation on portfolio
  packages/react-app/components/Portfolio/Positions.tsx
  packages/subgraph/src/mappings/otusVault.ts
Due: prettier --write, eslint --fix

fix subgraph issues and display of strike strategy
  packages/subgraph/src/mappings/otusController.ts
  packages/subgraph/src/mappings/otusVault.ts
  packages/subgraph/src/schema.graphql
  packages/subgraph/subgraph-local.md
Due: none

wip - add chart
  packages/hardhat/contracts/OtusController.sol
  packages/react-app/components/Products/Product/StrategyModalInfo/StrikeStrategyInfo.tsx
  packages/react-app/components/UI/Components/RangeSlider.tsx
  packages/react-app/components/VaultManager/VaultManagement/StrategyModals/VaultStrategyForm.tsx
  packages/react-app/components/VaultManager/VaultManagement/Trade/PNLChart.tsx
  packages/react-app/components/VaultManager/VaultManagement/Trade/TradeExecute.tsx
  packages/react-app/hooks/ProfitLossChart.ts
  packages/react-app/hooks/TransactionNotifier.tsx
  packages/react-app/queries/myVaults/useMyVaults.ts
  packages/react-app/queries/synth/useLatestRates.ts
  packages/react-app/queries/utils.ts
  packages/react-app/queries/vaults/useVaultProducts.ts
  packages/react-app/utils/pnlChart.js
Due: yarn prettier:sol, prettier --write, eslint --fix

add chart for single asset
  packages/react-app/components/VaultManager/VaultManagement/Trade/PNLChart.tsx
  packages/react-app/components/VaultManager/VaultManagement/Trade/TradeExecute.tsx
  packages/react-app/components/VaultManager/VaultManagement/index.tsx
  packages/react-app/hooks/ProfitLossChart.ts
  packages/react-app/pages/vault-manager/[vault].tsx
Due: prettier --write, eslint --fix

show chart only on single asset
  packages/react-app/components/VaultManager/VaultManagement/Trade/PNLChart.tsx
  packages/react-app/components/VaultManager/VaultManagement/Trade/TradeExecute.tsx
  packages/react-app/components/_Chart/SupervisorChart.jsx
Due: prettier --write, eslint --fix

handle larger data
  packages/react-app/components/VaultManager/VaultManagement/Trade/PNLChart.tsx
  packages/react-app/components/VaultManager/VaultManagement/Trade/TradeExecute.tsx
  packages/react-app/hooks/ProfitLossChart.ts
  packages/react-app/utils/pnlChart.js
Due: prettier --write, eslint --fix

display hedge type
  packages/react-app/components/Products/Product/Deposit.tsx
  packages/react-app/components/VaultManager/VaultManagement/index.tsx
  packages/react-app/queries/myVaults/useMyVaults.ts
Due: prettier --write, eslint --fix

remove lyra ref
  packages/react-app/queries/myVaults/useMyVaults.ts
Due: prettier --write, eslint --fix

attempt to deploy
  packages/react-app/components/VaultManager/VaultManagement/StrategyModals/StrikeStrategyForm.tsx
Due: prettier --write, eslint --fix

attempt to deploy
  packages/react-app/components/VaultManager/VaultManagement/Trade/PNLChart.tsx
Due: prettier --write, eslint --fix

attempt to deploy
  packages/react-app/components/VaultManager/VaultManagement/Trade/TradeExecute.tsx
Due: prettier --write, eslint --fix

attempt to deploy
  packages/react-app/components/VaultManager/VaultManagement/StrategyModals/VaultStrategyForm.tsx
  packages/react-app/components/VaultManager/VaultManagement/Trade/PNLChart.tsx
  packages/react-app/hooks/ProfitLossChart.ts
  packages/react-app/queries/myVaults/useMyVaults.ts
  packages/react-app/queries/synth/useLatestRates.ts
Due: prettier --write, eslint --fix

attempt to deploy
  packages/react-app/hooks/Contracts.ts
  packages/react-app/pages/vaults.tsx
  packages/react-app/queries/vaults/useVaultProducts.ts
Due: prettier --write, eslint --fix

attempt to deploy
  packages/react-app/hooks/Contracts.ts
Due: prettier --write, eslint --fix

attempt to deploy
  packages/react-app/hooks/ProfitLossChart.ts
Due: prettier --write, eslint --fix

attempt to deploy
  packages/react-app/queries/myVaults/useMyVaults.ts
Due: prettier --write, eslint --fix

fix freezing page
  packages/react-app/hooks/Contracts.ts
Due: prettier --write, eslint --fix

remove console logs
  packages/react-app/components/Portfolio/Positions.tsx
  packages/react-app/components/Products/Product/Deposit.tsx
  packages/react-app/components/Products/Product/StrategyModalInfo/HedgeStrategyInfo.tsx
  packages/react-app/components/Products/Product/index.tsx
  packages/react-app/components/VaultManager/VaultManagement/Current/index.tsx
  packages/react-app/components/VaultManager/VaultManagement/StrategyModals/HedgeStrategyForm.tsx
  packages/react-app/components/VaultManager/VaultManagement/StrategyModals/StrikeStrategyForm.tsx
  packages/react-app/hooks/Contracts.ts
Due: prettier --write, eslint --fix
