Repository benjaaa1/otus-vaults: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:sol, prettier --write, eslint --fix

has connect
  packages/react-app/components/UI/Web3/Web3Button.tsx
  packages/react-app/contracts/hardhat_contracts.json
Due: prettier --write, eslint --fix

has connect
  packages/react-app/components/UI/Navbar/index.tsx
Due: prettier --write, eslint --fix

wip - cleaning up networks available
  packages/react-app/components/UI/Web3/Web3Button.tsx
  packages/react-app/components/UI/Web3/Web3Network.tsx
  packages/react-app/constants/networks.ts
  packages/react-app/constants/supportedChains.ts
  packages/react-app/hooks/Web3Client.ts
  packages/react-app/pages/vaults.tsx
  packages/react-app/queries/lyra/useLyra.ts
  packages/react-app/reducers/Web3Provider.ts
Due: prettier --write, eslint --fix

update optimism otus controller
  packages/hardhat/contracts/core/OtusController.sol
Due: yarn prettier:sol

wip - developing strategy for futures management
  packages/hardhat/contracts/core/futures/BaseFuturesAdapter.sol
  packages/hardhat/contracts/core/futures/GMXAdapter.sol
  packages/hardhat/contracts/core/futures/Strategy.sol
  packages/hardhat/contracts/core/futures/SynthetixAdapter.sol
Due: yarn prettier:sol

add options dir
  packages/hardhat/contracts/core/options/GMXExtension.sol
  packages/hardhat/contracts/core/options/LyraAdapter.sol
  packages/hardhat/contracts/core/options/Strategy.sol
  packages/hardhat/contracts/core/options/StrategyBase.sol
  packages/hardhat/contracts/core/options/SynthetixExtension.sol
Due: yarn prettier:sol

remove unused params in init
  packages/hardhat/contracts/interfaces/IOtusVault.sol
Due: yarn prettier:sol

interface for strategy used by otus vault
  packages/hardhat/contracts/interfaces/IStrategy.sol
Due: yarn prettier:sol

otus vault interacts with interface of multiple strategies
  packages/hardhat/contracts/core/OtusVault.sol
Due: yarn prettier:sol

strategy address not set on init of vault
  packages/hardhat/contracts/interfaces/IOtusCloneFactory.sol
Due: yarn prettier:sol

remove unused var
  packages/hardhat/contracts/libraries/Vault.sol
Due: yarn prettier:sol

rename method name
  packages/hardhat/contracts/interfaces/IOtusController.sol
Due: yarn prettier:sol

clean up
  packages/hardhat/contracts/interfaces/IOtusCloneFactory.sol
Due: yarn prettier:sol

remove strategy on init and clean up
  packages/hardhat/contracts/core/OtusCloneFactory.sol
Due: yarn prettier:sol

move to new dir
  packages/hardhat/contracts/core/LyraAdapter.sol
  packages/hardhat/contracts/core/options/LyraAdapter.sol
Due: yarn prettier:sol

max line length
  .prettierrc
Due: none

remove and move to new directory
  packages/hardhat/contracts/core/strategy/Strategy.sol
  packages/hardhat/contracts/core/strategy/StrategyBase.sol
  packages/hardhat/contracts/keeper/Keeper.sol
Due: yarn prettier:sol

remove base exchange adapter will use lyra optionmarket
  packages/hardhat/contracts/vaultAdapters-remove/exchangeAdapters/BaseExchangeAdapter.sol
  packages/hardhat/contracts/vaultAdapters-remove/exchangeAdapters/GMXAdapter.sol
  packages/hardhat/contracts/vaultAdapters-remove/exchangeAdapters/SynthetixAdapter.sol
Due: yarn prettier:sol

wip - updating deploy and after deploy create
  packages/hardhat/deploy_local/11_deploy_base_otus_vault.js
  packages/hardhat/scripts/create.ts
Due: none

wip - futures
  README.md
  packages/hardhat/contracts/core/futures/BaseFuturesAdapter.sol
  packages/hardhat/contracts/core/futures/GMXAdapter.sol
  packages/hardhat/contracts/core/futures/Strategy.sol
  packages/hardhat/contracts/core/futures/SynthetixAdapter.sol
Due: yarn prettier:sol

remove management fee
  packages/hardhat/contracts/core/BaseVault.sol
  packages/hardhat/contracts/libraries/VaultLifeCycle.sol
Due: yarn prettier:sol

only used for calculating managemetn fee by period
  packages/hardhat/contracts/core/BaseVault.sol
Due: yarn prettier:sol

favicon update
  packages/react-app/public/favicon.ico
Due: none

copy over profit chart fix
  packages/react-app/hooks/ProfitLossChart.ts
Due: prettier --write, eslint --fix

remove hard coded
  packages/hardhat/package.json
Due: none

not used
  packages/hardhat/contracts/core/FuturesAdapter.sol
  packages/hardhat/contracts/core/GMXAdapter.sol
Due: yarn prettier:sol

move delta and collateral checks to lyra base from adapater
  packages/hardhat/contracts/core/LyraBase.sol
  packages/hardhat/contracts/interfaces/ILyraBase.sol
Due: yarn prettier:sol

lyra adapter handles options helper functions not strategybase
  packages/hardhat/contracts/core/base/StrategyBase.sol
  packages/hardhat/contracts/core/options/LyraAdapter.sol
  packages/hardhat/contracts/core/options/StrategyBase.sol
Due: yarn prettier:sol

not used
  packages/hardhat/contracts/core/SynthetixAdapter.sol
  packages/hardhat/contracts/core/options/GMXExtension.sol
  packages/hardhat/contracts/core/options/SynthetixExtension.sol
Due: yarn prettier:sol

update error
  packages/hardhat/contracts/core/OtusCloneFactory.sol
Due: yarn prettier:sol

manage different strategy wip - functionsign check
  packages/hardhat/contracts/core/OtusController.sol
Due: yarn prettier:sol

add duration and support for different strategies
  packages/hardhat/contracts/core/OtusVault.sol
  packages/hardhat/contracts/libraries/Vault.sol
  packages/hardhat/contracts/libraries/VaultLifeCycle.sol
Due: yarn prettier:sol

add snx gmx and gelato interface
  packages/hardhat/contracts/core/utils/OpsReady.sol
  packages/hardhat/contracts/interfaces/gelato/IOps.sol
  packages/hardhat/contracts/interfaces/gmx/IPositionRouter.sol
  packages/hardhat/contracts/interfaces/gmx/IVault.sol
  packages/hardhat/contracts/interfaces/gmx/IVaultUtils.sol
  packages/hardhat/contracts/interfaces/synthetix/IFuturesMarket.sol
  packages/hardhat/contracts/interfaces/synthetix/IFuturesMarketSettings.sol
Due: yarn prettier:sol

wip - add hedge extension and interface for otusvault
  packages/hardhat/contracts/core/options/BaseHedgeExtension.sol
  packages/hardhat/contracts/core/options/GMXHedgeExtension.sol
  packages/hardhat/contracts/core/options/Strategy.sol
  packages/hardhat/contracts/core/options/SynthetixHedgeExtension.sol
  packages/hardhat/contracts/interfaces/IStrategy.sol
Due: yarn prettier:sol

update otus vault interface
  packages/hardhat/contracts/interfaces/IOtusVault.sol
Due: yarn prettier:sol

clone strategy method accepts address of strategy impl
  packages/hardhat/contracts/interfaces/IOtusCloneFactory.sol
Due: yarn prettier:sol

wip - futures strategy
  packages/hardhat/contracts/core/futures/BaseFuturesAdapter.sol
  packages/hardhat/contracts/core/futures/GMXAdapter.sol
  packages/hardhat/contracts/core/futures/Strategy.sol
  packages/hardhat/contracts/core/futures/SynthetixAdapter.sol
  packages/hardhat/contracts/libraries/ConvertDecimals.sol
Due: yarn prettier:sol

wip - update create and registry steps
  packages/hardhat/scripts/create.ts
  packages/hardhat/scripts/registry.js
Due: none

Path conditions:
  yarn prettier:sol: any of: packages/hardhat/contracts/**/*.sol
  prettier --write: (any of: packages/react-app/**/*.{ts,tsx}) or (any of: packages/react-app/**/*.{html,css,less,ejs})
  eslint --fix: any of: packages/react-app/**/*.{ts,tsx}
